################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webapp.names/.vs/webapp.names
/webapp.names/webapp.names/bin
/webapp.names/webapp.names/obj/Debug
